@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<button type="button" class="btn btn-primary" onclick="GetMessage()">Test</button>

<script>
    function GetMessage() {
        $.ajax({
            url: "/Home/Test",
            data: { user: 'yes' },
            success: function (data) { debugger; },
            error: function (data) { debugger; }
        });
    }
</script>