@{
    ViewBag.Title = "Search";
    Layout = null;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    .flexed-container {
        display: block;
        min-height: 85vh;
    }
</style>
<div class="row flexed-container">
    <div class="col-md-11 col-md-offset-1">
        <div class="row" style="margin-left:10px">
            <h4>Search for movies:</h4>
        </div>
    </div>
</div>
