<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ConnString" connectionString="Provider=sqloledb;Data Source=SQL5020.site4now.net,1433;Initial Catalog=DB_9AB8B7_B19ES6498;User Id=DB_9AB8B7_B19ES6498_admin;Password=ma4Qgu44"/>
  </connectionStrings>
</configuration>